<!DOCTYPE html>
<html>
    <head>
        <title>Presentaciones - Adrianistán</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <main>
        <h1>Presentaciones</h1>
        <p>Recopilación de diapositivas y vídeos de presentaciones de mi autoría</p>
        <% for(var i=0;i<talks.length;i++) { let talk = talks[i]; %>
            <section id="<%= talk.name %>">
                <h4><a href="#<%= talk.name %>"><%= talk.name %></a></h4>
                <div class="embed">
                    <%- talk.embed %>
                </div>
                <p><%= talk.description %></p>
                <p>Publicado: <time datetime="<%= moment(talk.createdAt).format('YYYY-MM-DD') %>"><%= moment(talk.createdAt).format("DD/MM/YYYY") %></time></p>
                <p><a href="/download/<%= talk.file_id %>">Descargar</a> <a href="/downloadTorrent/<%= talk.file_id %>">Descargar torrent</a></p>
                <p>Número de descargas: <%= talk.file.downloads %></p>
            </section>
        <% } %>
        </main>
    </body>
</html>